{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Sistema de Recrutamento da Pegho</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'candidato/css/styles.css' %}">
</head>
<body>
    <div class="container text-center">
        <h1 class="welcome-title mt-5">Bem-vindo ao Sistema de Recrutamento da Pegho</h1>
        <p class="lead">Selecione a opção desejada:</p>

        <div class="mt-4">
            <a href="{% url 'dados_basicos' %}" id="botao-candidato" class="btn btn-primary btn-lg m-2" onclick="limparLocalStorage()">Candidato</a>
            <a href="{% url 'list_candidatos' %}" id="botao-recrutador" class="btn btn-secondary btn-lg m-2" onclick="limparLocalStorage()">Recrutador</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'candidato/js/script.js' %}"></script>
</body>
</html>
