/* Sidebar */
.sidebar {
    width: 500px; /* Ajuste a largura para um valor mais padrão */
    min-height: 100vh; /* Garante que a sidebar ocupe a altura total */
}

.sidebar-header {
    margin-bottom: 1rem;
}

.sidebar-title {
    font-size: 2.5em; /* Tamanho da fonte ajustado para melhorar a legibilidade */
}

.nav-item {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.2em; /* Tamanho da fonte consistente */
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #f4f4f4; /* Cor de destaque ao passar o mouse */
    text-decoration: underline;
}

/* Ajustando o botão "Próximo" */
#next-button {
    width: 200px; /* Defina um tamanho fixo ou use uma porcentagem se preferir */
    margin: 0 auto; /* Centraliza o botão */
}

/* Ajuste a largura do container de experiências */
#experiencias-container {
    width: 95%; /* Largura padrão */
    max-width: 800px; /* Limita a largura máxima do container */
    margin: 20px auto; /* Centraliza o container */
}

/* Se você deseja alterar o estilo de cada experiência */
.experiencia {
    width: 100%; /* Faz com que cada box ocupe a largura total do container */
    max-width: 100%; /* Remove a limitação de largura máxima */
    padding: 20px; /* Adiciona espaço interno */
    background-color: #ffffff; /* Cor de fundo branca */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 10px; /* Espaço entre as boxes */
}

/* Main Content */
.main-content {
    padding: 20px;
    flex-grow: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
}

/* Entry Container */
.entry-container {
    width: 95%;
    max-width: 800px; /* Limita a largura máxima */
    margin: 20px auto;
}

.entry {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Button Styles */
.delete-button {
    background-color: #dc3545; /* Vermelho do botão */
    color: white; /* Cor do texto em branco */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-button {
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: underline;
    color: #007bff; /* Azul padrão do Bootstrap */
}

.btn-primary {
    background-color: #007bff; /* Cor azul padrão do Bootstrap */
    border-color: #007bff; /* Cor da borda */
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul mais escuro quando o mouse passa */
    border-color: #0056b3; /* Bordas mais escuras quando o mouse passa */
}
